[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fugashi = "*"
unidic-lite = "*"
torch = "*"
transformers = "*"
jupyter = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
